.about-section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
  h2 {
    margin-bottom: 0;
  }
}

.about-hero {
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.about-info {
  background-color: var(--l-cream);
  padding: 3rem 7rem;
  z-index: 3;
}

.our-belief {
  color: var(--brand-orange);
  font-weight: 600;
  font-size: 2.3rem;
}

.you-are {
  color: var(--d-grey);
  font-size: 2rem;
  font-weight: 600;
  padding: 0 2rem;
}

.ingenious-icon {
  padding: 2rem;
}

.about-the-team {
  max-width: 60%;
  margin: 2rem auto;
  font-size: 1.5rem;
}

.call-to-action {
  padding: 2rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.squiggle-wrapper {
  position: relative;
  margin-bottom: -30;
}

.partners {
  margin-top: 2rem;
  z-index: 2;
  img {
    width: 100%;
  }
}

.about-squiggle {
  z-index: 1;
  margin-top: -15rem;
  margin-bottom: -15rem;
  margin-left: 0;
  padding-left: 0;
  min-width: 100%;
}

@media (max-width: 800px) {
  .about-hero {
    img {
      transform: scale(0.6);
    }
  }
  .about-the-team {
    max-width: 85%;
  }
}

@media (max-width: 600px) {
  .about-hero {
    img {
      transform: scale(0.6) translateX(-20%);
    }
  }
  .about-the-team {
    max-width: 95%;
  }
  .about-info {
    padding: 0 1rem;
  }
}
