.services-section {
  h2 {
    padding-bottom: 3rem;
    color: var(--white);
  }

  h3 {
    color: var(--white);
  }

  p {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1.3rem;
  }
  background-color: var(--d-grey);
  padding: 3rem;
  text-align: center;
}

.services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.service-panel {
  max-width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  padding-bottom: 3rem;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--white);
    text-align: start;
    padding: 0.2rem;
  }
  li::marker {
    color: var(--brand-orange);
  }

  button {
    margin: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1000px) {
  .service-panel {
    border: 2px solid var(--brand-orange);
    border-radius: 5px;
    padding: 2rem;
    max-width: 80%;
    margin-bottom: 2rem;
    p,
    li {
      font-size: 2rem;
    }
  }

  .services-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
