:root {
  --brand-orange: #d54b1a;
  --d-grey: #484848;
  --l-grey: #efefef;
  --l-cream: #fbf5ef;
  --white: #fff;
}

* {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #484848;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 4.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

.heavy-heading {
  font-weight: 800;
}
.mid-heading {
  font-weight: 400;
}
.slim-heading {
  font-weight: 200;
}

.upper {
  text-transform: uppercase;
}

.brand {
  color: var(--brand-orange);
}

.light {
  color: var(--l-cream);
}

.italic {
  font-style: italic;
  font-weight: 200;
}

.bold {
  font-weight: 600;
}

Sofia Pro Regular italic {
  font-family: "sofia-pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}
Sofia Pro Bold {
  font-family: "sofia-pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

Sofia Pro Bold italic {
  font-family: "sofia-pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}
