.hero-section {
  display: flex;
  padding: 0 4rem;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }

  p {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
  }

  button {
    width: 20vw;
  }
}

.hero-image {
  width: 95%;
  margin-bottom: 4rem;
}

.hero-button:hover {
  background-color: var(--l-cream);
  color: var(--brand-orange);
  box-shadow: 0 0 0 5px var(--brand-orange), inset 0 0 0 1px #fff;
  transition: background-color 1s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
  margin-bottom: 0;
}
